.message-input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.message-box {
    justify-content: center;
    display: flex;
    margin-bottom: 0px;
}

.message-input {
    padding: 20px;
    width: 45%;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #7c7474;
    border: 0px;
    background-color: #ece8e8;
}

.message-input:focus {
    border: 0px;
    outline-style: none;
}

.warning-container {
    display: flex;
    align-items: center;
    align-self: center;
    width: 52%;
    height: 40px;
}

.warning-text {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #7c7474;
}

.send-btn {
    padding-right: 30px;
    border: 0px;
    background-color: #ece8e8;
}

.send-logo {
    width: 32px;
    opacity: 0.3;
}

.send-logo:hover {
    opacity: 1;
}
